<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="baselink">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="servo1">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="servo2">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="servo3">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="servo4">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="servo5">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="servo6">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="servo7">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="servo8">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="arm1">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="arm2">
        <material>Gazebo/Black</material>
    </gazebo>
    
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="arm_ros2_control">
          <robot_param>robot_description</robot_param>
          <robot_param_node>robot_state_publisher</robot_param_node>
          <parameters>$(find chessbot_controller)/config/arm_controllers.yaml</parameters>
        </plugin>
    </gazebo>
  

</robot>